@if (loading) {
  <app-loader />
}

@if (error) {
  <app-error />
}

@if (users$ | async; as users) {
  @if (!loading && !error) {
    <table class="user-table container">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        @for (user of users; track user.id) {
          <tr class="table-row">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>
              <button (click)="viewDetails(user.id)" class="view-button">View Details</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
}
