@if (loading) {
  <app-loader />
}

@if (error) {
  <app-error />
}

@if (user$ | async; as user) {
  @if (!loading && !error && user) {
    <div class="card">
      <h2>{{ user.name }}</h2>
      <p><strong>Username:</strong> {{ user.username }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Phone:</strong> {{ user.phone }}</p>
      <p><strong>Website:</strong> {{ user.website }}</p>

      <hr />

      <h3>Address</h3>
      <p>
        {{ user.address.street }}, {{ user.address.suite }}<br />
        {{ user.address.city }} - {{ user.address.zipcode }}
      </p>

      <hr />

      <h3>Company</h3>
      <p><strong>Name:</strong> {{ user.company.name }}</p>
      <p><strong>Catchphrase:</strong> {{ user.company.catchPhrase }}</p>
      <p><strong>Business:</strong> {{ user.company.bs }}</p>
    </div>
  }
}
