.counter-header {
  text-align: center;
  margin: 0;
}

.counter-nav {
  background: #1976d2;
  color: white;
  margin: 0;
  padding: 16px;
}

.counter-app-container {
  display: flex;
  justify-content: center;
  gap: 4rem;
  text-align: center;
  margin-top: 40px;
}

h2 {
  color: black;
  margin-top: 20px;
  font-size: 35px;
}
