<!-- <header>
  <app-navbar />

  @if (!hideLayout) {
    <div class="breadcrumb">
      <app-breadcrumb />
    </div>
  }
</header>

<main class="page-container">
  <router-outlet />
</main>

@if (!hideLayout) {
  <app-footer />
} -->

@if (!hideLayout) {
  <header>
    <app-navbar />
    <div class="breadcrumb">
      <app-breadcrumb />
    </div>
  </header>
}

<main class="page-container">
  <router-outlet />
</main>

@if (!hideLayout) {
  <app-footer />
}

<!-- <header>
  <app-navbar />
  <div class="breadcrumb">
    <app-breadcrumb />
  </div>
</header>

<main class="page-container">
  <router-outlet />
</main>

<app-footer /> -->
